html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body[ng-app] {
	overflow-y: scroll;
	overflow-x: hidden;
}

.bar.menu {
	margin-left: -5px;
    margin-right: -5px;
}

.footer {
	padding-right: 10px;
	text-align: right;
	font-style: italic;
	font-size: 0.85em;
}

.osheader {
	width: 80px;
	text-decoration: underline;
	/*font-weight: bold;*/
}

.archbox {
	padding: 2px 10px;
}

.archbox label {
	cursor: pointer !important;
}

.ui.grid {
	padding: 10px;
}

.log {
	font-family: monospace;
	padding: 0 15px 15px 0px;
}

.log .group.user.shortened .msg:first-child {
    display: inline;
}
.log .group.user.shortened .msg {
    display: none;
}
.log .group.user {
    cursor: pointer;
}
.log .timestamp {
    color: grey;
}

label .tip {
	color: grey;
	font-size: 0.8em;
}

#versionvar {
	display: inline !important;
	text-align: center;
    width: 50px;
	color: grey;
    height: 20px;
    padding: 0px;
    border: none;
    text-decoration: underline;
}

.file {
	display: inline-block;
	padding: 2px 6px;
}

.platforms {
	padding-left: 20px;
}

.controls {
	text-align: center;
}

.compilations.segment {
	max-height: 600px;
	overflow: auto;
}

.compilation .header a {
	text-decoration: none;
}
.compilation .timestamp {
	text-align: left;
}

.ui.title.segment {
	position: relative;
}

.statuses {
	position: absolute;
	right: 20px;
	top: 15px;
}


button {
	cursor: pointer;
}
.log .msg.out {
	color: rgb(0, 0, 219);
}

.log .msg.err {
	color: rgb(192, 0, 0);
}

.log pre {
	white-space: normal;
	width: 100%;
}

.log pre .info {
	color: grey;
}

.log pre .print {
	color: royalblue;
}
