html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

body, button, textarea {
	font-family: monospace;
}

.cage {
	padding: 20px;
}

textarea {
	width: 100%;
	height: 120px;
	font-size: 14px;
}

span.status {
  background: #BBB;
  padding: 3px;
  border-radius: 2px;
}
span.status:not([color]) { display: none; }
span.status[color=green] { background: rgb(137, 207, 137); }
span.status[color=red] { background: red; color: white;}
span.status[color=blue] { background: royalblue; color: white; }

.cage > div {
	margin-top: 10px;
	padding: 10px;
	border: thin solid grey;
}

.log .msg.out {
	color: rgb(0, 0, 219);
}

.log .msg.err {
	color: rgb(192, 0, 0);
}

.log pre {
	white-space: normal;
	width: 100%;
}

.log pre .info {
	color: grey;
}

.log pre .print {
	color: royalblue;
}
